<!--Author: LTT
Author URL: http://LTT.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>LTT | Law </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="LTT Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="static/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <!-- flexslider-css -->
    <link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen" />
    <link href="static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->


</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
        <!-- header -->
        <!-- navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="main-nav">
                <div class="container">

                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">LTT</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1>
                            <a class="navbar-brand" href="/">LTT</a>
                        </h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
                        <ul class="nav navbar-nav navbar-left cl-effect-15">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden">
                                <a class="page-scroll" href="#page-top"></a>
                            </li>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                <a href="about">about us</a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Subjects
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="math">Math</a>
                                    </li>
                                    <li>
                                        <a href="physical">Physical</a>
                                    </li>
                                    <li>
                                        <a href="chemistry">Chemistry</a>
                                    </li>
                                    <li>
                                        <a href="informatics">Informatics</a>
                                    </li>
                                    <li>
                                        <a href="literarys">Literary</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact">Contact us</a>
                            </li>
                            <li>
                                <a href="login" title="SignIn & SignUp">
                                    <span class="fa fa-user nav-icon" aria-hidden="true"></span>
                                </a>
                            </li>

                        </ul>
                        <!-- search-bar -->
                        <div class="search-bar-agileits">
                            <div class="cd-main-header">
                                <ul class="cd-header-buttons">
                                    <li>
                                        <a class="cd-search-trigger" href="#cd-search">
                                            <span></span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- cd-header-buttons -->
                            </div>
                            <div id="cd-search" class="cd-search">
                                <form action="{{url_for('search')}}" method="POST">
                                    <input name="Search" type="search" placeholder="Type and Hit Enter...">
                                </form>
                            </div>
                        </div>
                        <!-- //search-bar ends here -->
                        <!-- shopping cart -->
                        <div class="cart-mainf">
                            <div class="chrcart chrcart2 cart cart box_1">
                                <form action="#" method="post" class="last">
                                    <input type="hidden" name="cmd" value="_cart">
                                    <input type="hidden" name="display" value="1">
                                    <button class="top_chr_cart" type="submit" name="submit" value="">
                                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- //shopping cart ends here -->
                    </div>
                    <!-- /.navbar-collapse -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.container -->
            </div>
        </nav>
        <!-- //navbar ends here -->
        <!-- banner -->
        <div class="banner-bg-inner">
            <!-- banner-text -->
            <div class="banner-text-inner">
                <div class="container">
                    <h2 class="title-inner">
                        world of reading
                    </h2>

                </div>
            </div>
            <!-- //banner-text -->
        </div>
        <!-- //banner -->
        <!-- breadcrumbs -->
        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
                            <a href="/">
                                <i class="glyphicon glyphicon-home"></i>
                            </a>
                        </li>
                        <li class="btn btn2">
                            <a href="subjects">Home</a>
                        </li>
                        <li class="btn btn3">
                            <a href="math">Law Library</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!-- Single -->
        <div class="section singlep_btm">
            <div class="container">
                <div class="new_arrivals">
                    <!-- row3 -->
                    <center><h2>LAW LIBRARY</h2></center><br>
                   <ol style="1">
                        <li>Đối tượng được mượn sách về nhà bao gồm: Sinh viên, học viên cao học, giảng viên, CBVC trong hệ thống ĐHQGHN đã đăng ký tài khoản và được Thư viện LTT cấp quyền sử dụng.</li>
                        <br>
                        <li>Bạn đọc sử dụng tài khoản đăng kí và đã được Thư viện LTT cấp quyền sử dụng để làm thủ tục mượn và trả sách về nhà . Nghiêm cấm sử dụng tài khoản của người khác để mượn sách, hoặc cho người khác mượn tài khoản.</li>
                        <br>
                       <li>Bạn đọc được mượn tối đa là 04 tên/<b>04 cuốn</b> cho mỗi lần mượn. Thời gian mượn tùy theo thời hạn có trên website. Quá thời hạn mượn theo Quy định, bạn đọc phải nộp tiền phạt 1000đ/1cuốn/ngày (trừ ngày nghỉ Lễ, Tết).</li>
                        <br>
                        <li>Bạn đọc cần kiểm tra kỹ tình trạng của sách và báo lại cho thủ thư trước khi mang sách ra khỏi phòng mượn. Nếu thấy sách có dấu hiệu bị rách, mất trang, mất mã vạch, bị ghi chép,…mà không báo thì vẫn bị phạt theo Quy định của Thư viện.</li>
                        <br>
                        <li>Đề nghị bạn đọc mượn sách về nhà giữ gìn cẩn thận. Trường hợp vi phạm: làm rách, làm ướt, mất trang, mất mã vạch, ghi chép lên sách,…bị xử phạt theo Quy định của Thư viện (nộp phạt chi phí phục hồi, tái tạo hoặc đền lại sách mới).</li>
                        <br>
                        <li>Trường hợp đánh mất sách, bạn đọc phải mua đền lại sách bị mất hoặc đền bù theo giá quy định sau:<br><br>
                                    - Đền gấp 3 lần giá sách ghi ở bìa sau.<br><br>
                                    - Nếu sách không ghi giá tiền, sách photo <b>(250đ/trang + chi phí đóng bìa) x 3</b>
                        </li>
                        <br>
                       <li>Nếu bạn đọc mượn sách quá hạn từ 10 ngày trở lên, Thư viện sẽ gửi thông báo cho bạn đọc qua email <b><u>LTT@gmail.com.</u></b> </li>
                        <br>
                        <li>Thời gian mượn trả sách: tất cả các ngày trong tuần từ thứ hai đến thứ Bảy <b>(trừ  ngày Chủ nhật và những ngày nghỉ Lễ)</b>.</li>
                    </ol>
                    <!-- //row3 -->
                    <div class="clearfix"></div>
                </div>
                <!--//new_arrivals-->
                <div class="clearfix"></div>

            </div>
        </div>
        <!--// Single -->
        <!-- footer -->
        <div class="footer-bottom section">
            <div class="container">
                <!-- newsletter -->
                <div class="subscribe-main section-LTT text-center">
                    <h4 class="rad-txt">
                        <span class="abtxt1">keep yourself</span>
                        <span class="abtext">updated</span>
                    </h4>
                    <h5>subscribe to our newsletter to stay up-to-date with our projects.</h5>
                    <div class="subscribe-form">
                        <form action="#" method="post" class="subscribe_form">
                            <div class="email-news">
                                <input type="email" placeholder="Email" required="">
                            </div>
                            <div class="sub-news">
                                <input type="submit" value="subscribe">
                            </div>
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                    <p>We respect your privacy.No spam ever!</p>
                </div>
                <!-- //newsletter ends here -->
                <!-- footer grids-->
                <div class="footer-cpy">
                    <!-- footer-grid1 -->
                    <div class="col-md-3 col-sm-6 footer-logo">
                        <h3>
                            <a href="/">LTT</a>
                        </h3>
                        <h4>about us</h4>
                        <p>Vallis Molestie Arcu Morbi Dapibus Suscipit Ante Sit Efficitur Eu estie Arcu Mor Anestie Ate Vesti.</p>
                    </div>
                    <!-- //footer-grid1 -->
                    <!-- footer-grid2 -->
                    <div class="col-md-3 col-sm-6 footer-nav text-center">
                        <h4>navigation</h4>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="about">About us</a>
                            </li>
                            <li>
                                <a href="subjects">Subjects</a>
                            </li>
                            <li>
                                <a href="contact">contact us</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer-grid2 -->
                    <!-- footer-grid3 -->
                    <div class="col-md-3 col-sm-6 blog-footer">
                        <h4>latest from blog</h4>
                        <div class="blog1">
                            <div class="col-md-3 col-sm-3 col-xs-2 bl1">
                                <a href="#">
                                    <img src="static/images/b1.jpg" alt="" class="img+responsive" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-10 bl2">
                                <a href="#">Dapibus Suscipit Ante Sit by instagram</a>
                                <p>February 15, 2020</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="blog1">
                            <div class="col-md-3 col-sm-3 col-xs-2 bl1">
                                <a href="#">
                                    <img src="static/images/b2.jpg" alt="" class="img+responsive" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-10 bl2">
                                <a href="#">Dapibus Suscipit Ante Sit by instagram</a>
                                <p>February 20, 2020</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- //footer-grid3 -->
                    <!-- footer-grid4 -->
                    <div class="col-md-3 col-sm-6 contact-foot text-right">
                        <h4>contact us</h4>
                        <ul>
                            <li>
                                <span class="fa fa-home"></span>
                                334 Nguyen Trai
                                <br> Thanh Xuan, HN.
                            </li>
                            <li>
                                <span class="fa fa-phone"></span>
                                0346899918
                            </li>
                            <li>
                                <span class="fa fa-envelope"></span>
                                <a href="mailto:info@example.com">LTT@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //footer-grid4 -->
                    <div class="clearfix"></div>
                </div>
                <!-- //footer-grids -->
                <!-- footer social -->
                <div class="footer-social text-center">
                    <h4>stay connected</h4>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-facebook icon_facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-twitter icon_twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-dribbble icon_dribbble"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-google-plus icon_g_plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //footer social -->
            </div>
            <!-- //footer container -->
        </div>
        <!-- //footer -->
        <div class="cpy-right">
            <p>© 2020 LTT. All rights reserved | Design by
                <a href="http://LTT.com"> LTT.</a>
            </p>
        </div>
    </div>
    <!-- //home -->
    <!-- Common js -->
    <script src="static/js/jquery-2.2.3.min.js"></script>
    <!--// Common js -->
    <!-- cart-js -->
    <script src="static/js/minicart.js"></script>
    <script>
        chr.render();

        chr.cart.on('chr_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- zoom -->
    <script src="static/js/imagezoom.js"></script>
    <!-- zoom-->
    <!-- single -->
    <!-- FlexSlider -->
    <script src="static/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider1').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <!-- //FlexSlider-->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!--search jQuery-->
    <script src="static/js/main.js"></script>
    <!--search jQuery-->

    <!-- Scrolling Nav JavaScript -->
    <script src="static/js/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!--//scripts-->
    <script src="static/js/bootstrap.js"></script>
    <!-- start-smoth-scrolling -->
    <script src="static/js/move-top.js"></script>
    <script src="static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- smoothscroll -->
    <script src="static/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->

</body>

</html>