<!DOCTYPE html>
<html lang="en">
<head>
<title>LTT products</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="static/css/uniform.css" />
<link rel="stylesheet" href="static/css/select2.css" />
<link rel="stylesheet" href="static/css/matrix-style.css" />
<link rel="stylesheet" href="static/css/matrix-media.css" />
<link href="static/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard">Library Admin</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome {{admin}}</span></a>
    <li class=""><a title="" href="loginmanage"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>

<!--sidebar-menu-->

<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul>
    <li><a href="dashboard?admin={{admin}}"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="active"><a href="tables?admin={{admin}}"><i class="icon icon-th"></i> <span>Tables</span></a></li>
    <li><a href="form-common?admin={{admin}}"><i class="icon icon-list"></i> <span>Manage</a></li>
    <li class="content"> <span>Monthly Bandwidth Transfer</span>
      <div class="progress progress-mini progress-danger active progress-striped">
        <div style="width: 77%;" class="bar"></div>
      </div>
      <span class="percent">77%</span>
      <div class="stat">21419.94 / 14000 MB</div>
    </li>
    <li class="content"> <span>Disk Space Usage</span>
      <div class="progress progress-mini active progress-striped">
        <div style="width: 30%;" class="bar"></div>
      </div>
      <span class="percent">30%</span>
      <div class="stat">604.44 / 4000 MB</div>
    </li>
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Products</a> </div>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data products</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Name of Book</th>
                  <th>Author</th>
                  <th>Publishing company</th>
                  <th>Cost</th>
                  <th> Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for x in prod %}
                <tr class="gradeX">
                  <td>{{x['name']}}   &nbsp;<a href="edit?admin={{admin}}?id={{x['id']}}" id="clickedit" title="Edit"><i class="icon-pencil"></i></i></a> </td>
                  <td>{{x['tacgia']}}</td>
                  <td>{{x['nxb']}}</td>
                  <td class="center">{{x['gia']}}</td>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="delete?admin={{admin}}?id={{x['id']}}"><button type="submit" class="btn btn-delete"><i class="icon-trash" aria-hidden="true"></i></button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2019 &copy; Brought to you by <a href="http://LLT.com">LTT</a> </div>
</div>
<!--end-Footer-part-->
<script src="static/js/jquery.min.js"></script> 
<script src="static/js/jquery.ui.custom.js"></script> 
<script src="static/js/bootstrap.min.js"></script> 
<script src="static/js/jquery.uniform.js"></script> 
<script src="static/js/select2.min.js"></script> 
<script src="static/js/jquery.dataTables.min.js"></script> 
<script src="static/js/matrix.js"></script> 
<script src="static/js/matrix.tables.js"></script>
</body>
</html>
